/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Navigation */
  nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
    padding: 10px;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  nav ul li a:hover {
    color: black;
    background-color:#0AF3F7;
  }

  /* Sections */
    section {
    padding: 50px;
  }
  
    section h2{
    margin-bottom: 20px;
  }
  /* Hero section */
  #hero {
    background-image: url(/images/Blog-Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding-left: 650px;
  }
 #hero .text {
    margin-top: 250px;
    color: white;
    font-size: 28px;
    text-align:center;
 }
  #hero h1,p {
    margin-bottom: 20px;
  }
  
  #hero .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  #hero .btn:hover {
    color: black;
    background-color:#0AF3F7;
  }

/* about section */
#about {
    background-color: #fff;
}
#about p {
    font-size: 18px;
}
#about h3 {
    font-size: 24px;
    color: gold;
    text-align: center;
    margin-bottom: 10px;
}

 /* services Section */
#services {
        background-color: lightgray;
}

 #services ul li {
        font-size: 20px;
        list-style: none;
        text-align: center;
        margin-bottom: 25px;
    
} 
.card_container {
    display: flex;
    justify-content: center;
}
.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-description {
    margin-bottom: 20px;
  }
  
  .card-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .card-btn:hover{
    background-color: #0AF3F7;
    color:black;
  }

  /* Form */
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  form .btn:hover {
    color: black;
    background-color:#0AF3F7;
  }
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  